# Entorno
.env
*.env
!.env.example

# Java / Maven
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
*.class

# Node / Vite
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Logs
*.log
logs/

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Docker local
mysql_data/

# Terraform y credenciales sensibles
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
*.pem
*.key

# Credenciales locales AWS
.aws/
**/.aws/
